In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df_sample = pd.read_csv("sample_submission.csv")

In [3]:
df_train.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [9]:
df_train.dropna(inplace=True)

In [10]:
df_train.isna().sum()

textID           0
text             0
selected_text    0
sentiment        0
dtype: int64

In [11]:
X = df_train.selected_text

In [12]:
y = df_train.sentiment

In [17]:
X

0                      I`d have responded, if I were going
1                                                 Sooo SAD
2                                              bullying me
3                                           leave me alone
4                                            Sons of ****,
                               ...
27476                                               d lost
27477                                        , don`t force
27478                            Yay good for both of you.
27479                           But it was worth it  ****.
27480    All this flirting going on - The ATG smiles. Y...
Name: selected_text, Length: 27480, dtype: object

In [15]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/makar/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [16]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

In [18]:
sid.polarity_scores(X[0])

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [19]:
y.value_counts()

neutral     11117
positive     8582
negative     7781
Name: sentiment, dtype: int64

In [87]:
df = pd.DataFrame({'selected_text':X,
                   'sentiment': y})

In [88]:
df

                                           selected_text sentiment
0                    I`d have responded, if I were going   neutral
1                                               Sooo SAD  negative
2                                            bullying me  negative
3                                         leave me alone  negative
4                                          Sons of ****,  negative
...                                                  ...       ...
27476                                             d lost  negative
27477                                      , don`t force  negative
27478                          Yay good for both of you.  positive
27479                         But it was worth it  ****.  positive
27480  All this flirting going on - The ATG smiles. Y...   neutral

[27480 rows x 2 columns]

In [89]:
max(sid.polarity_scores(df.selected_text.loc[1]).values())

0.793

In [90]:
def get_max(dictionary, search):
    for a, b in dictionary.items():  # for name, age in dictionary.iteritems():  (for Python 2.x)
        if b == search:
            return a

In [91]:
get_max(sid.polarity_scores(df.selected_text.loc[1]), max(sid.polarity_scores(df.selected_text.loc[1]).values()))

'neg'

In [92]:
def get_sentiment(n):
    return get_max(sid.polarity_scores(df.selected_text.loc[n]),max(sid.polarity_scores(df.selected_text.loc[n]).values()))

In [99]:
predicted_sentiment = []

In [100]:
df.selected_text.loc[314]

KeyError: 314

In [77]:
print(get_sentiment(314))

neu

In [101]:
for i in range(len(df)):
    if i != 314:    
        predicted_sentiment.append(str(get_sentiment(i)))
    else:
        predicted_sentiment.append("neg")

In [102]:
len(df)

27480

In [103]:
len(predicted_sentiment)

27480

In [104]:
df["predicted_sentiment"] = predicted_sentiment

In [105]:
df

,selected_text,sentiment,predicted_sentiment
0,"I`d have responded, if I were going",neutral,neu
1,Sooo SAD,negative,neg
2,bullying me,negative,neg
3,leave me alone,negative,neg
4,"Sons of ****,",negative,neu
...,...,...,...
27476,d lost,negative,pos
27477,", don`t force",negative,neg
27478,Yay good for both of you.,positive,neu
27479,But it was worth it ****.,positive,compound
27480,All this flirting going on - The ATG smiles. Y...,neutral,neu

In [106]:
df[df["predicted_sentiment"] == "neu"] = "neutral"

In [108]:
df[df["predicted_sentiment"] == "neg"] = "negative"

In [109]:
df[df["predicted_sentiment"] == "pos"] = "positive"

In [110]:
df

                    selected_text sentiment predicted_sentiment
0                         neutral   neutral             neutral
1                        negative  negative            negative
2                        negative  negative            negative
3                        negative  negative            negative
4                         neutral   neutral             neutral
...                           ...       ...                 ...
27476                    positive  positive            positive
27477                    negative  negative            negative
27478                     neutral   neutral             neutral
27479  But it was worth it  ****.  positive            compound
27480                     neutral   neutral             neutral

[27480 rows x 3 columns]

In [111]:
from sklearn import metrics

In [113]:
acc = metrics.accuracy_score(df.sentiment, df.predicted_sentiment) * 100
acc

92.44177583697234

Series([], Name: selected_text, dtype: int64)